@model IEnumerable<Property_Management.Models.Listing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SquareFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandLord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandLord.AdminID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennant.TennantID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
